{% block postContent %}
    <div class="row d-flex align-posts m-3">
        {% set fav_array = [] %}
        {% for fav in favorite %}
            {% set fav_array = fav_array|merge( [fav.id] ) %}
        {% endfor %}

        {% for one_post in tableToUse|slice(6,10000) %}

            {# for index tables #}
            {% if one_post.post_unique_id in fav_array %}
                {% set startype = "fas fa-star"%}
            {% else %}
                {% set startype = "far fa-star"%}
            {% endif %}

            {% if one_post.post_id in fav_array %}
                {% set startype = "fas fa-star"%}
            {% endif %}
            {# for myspace table #}
            {% set random = random(colors) %}
        <div>
            <div class="card m-1 post-index" style="width: 18rem; background-color: {{ random }}" data-toggle="modal" data-target="#exampleModal3{{ one_post.post_unique_id }}k">
                <div class="card-body">
                    <div class="container card-header" style="background-color: {{ random }}">
                        <div class="row d-flex justify-content-center">
                            <div class="handwriting font-weight-bold"><i
                                        class="fas fa-map-pin"></i> {{ one_post.title }}
                            </div>
                            <div class="ml-auto"><i class="{{ one_post.icon }} fa-2x"></i></div>
                            {% set postid = one_post.post_unique_id %}

                        </div>

                    </div>
                    <div class="card-text post-content-short handwriting">
                        {{ one_post.content|raw }}
                    </div> ...

                </div>
                <div class="card-footer text-muted handwriting d-flex justify-content-between"> <div class="badge badge-warning">{% if all_popularities[postid] %}{{ all_popularities[postid] }} {% else %} 0 {% endif %}</div>
                    <div class="ml-auto"> {{ one_post.creation_at|date ("d/m/Y") }}</div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal3{{ one_post.post_unique_id }}k" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content card">
                    <div class="card-body" style="background-color: {{ random }}">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="container card-header rounded"
                             style="background-color: {{ random }}">

                            <div class="d-flex justify-content-between  m-3">
                                {% if session.userid %}
                                    <div class="star-color"><i class="{{ startype }}"
                                                               data-postid="{{ one_post.post_unique_id }}"
                                                               data-userid="{{ session.userid }}"></i>
                                    </div>
                                {% endif %}
                                <div class="text-center handwriting ">{{ one_post.title }} </div>
                                <i class="{{ one_post.icon }} fa-2x"></i>


                            </div>


                        </div>
                        <div class="container">
                            {{ one_post.content|raw }}
                        </div>

                        <div class="d-flex justify-content-end">
                            {% if session.userid %}
                                <i class="far fa-thumbs-up text-success {{ likesAndDislikes[postid][0] == 1 ? 'fas' : '' }} m-2"
                                   data-postid="{{ one_post.post_unique_id }}"
                                   data-userid="{{ session.userid }}">
                                </i>
                                <div class="badge badge-warning popularity m-2 handwriting">{% if all_popularities[postid] %}{{ all_popularities[postid] }} {% else %} 0 {% endif %}</div>
                                <i class="far fa-thumbs-down text-danger {{ likesAndDislikes[postid][1] == 1 ? 'fas' : '' }} m-2"
                                   data-postid="{{ one_post.post_unique_id }}"
                                   data-userid="{{ session.userid }}">
                                </i>
                            {% endif %}
                        </div>
                        <hr>
                        <div class="handwriting comment-title"><i class="fa fa-comment" aria-hidden="true"></i> Commentaires</div>
                        {% if session.userid %}
                            <form action="/home/index" method="post">
                                <div class="d-flex flex-column align-items-center">
                                    <input type="hidden" name="postid" value="{{ one_post.post_unique_id }}">
                                    <textarea class="bubble textarea-bubble" name="comment" id="comment" placeholder="..."></textarea>
                                    <button type="submit" class="btn btn-login-modal m-2 handwriting">Commenter
                                    </button>
                                </div>
                            </form >
                        {% endif %}
                        <div class="comment-accordion handwriting " id="accordionExample">
                            <div class="card-body language-main-list">
                                <div>
                                    {% for comment in all_comments %}
                                        {% if comment.post_id == one_post.post_unique_id %}

                                            <div class="li-comment d-flex flex-column m-3">
                                                <div class="bubble">{{ comment.content }}</div>

                                                <div class="align-self-end"> Créé par {{ comment.username }}
                                                    le {{ comment.creation_at|date("d/m/Y") }}</div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted handwriting d-flex justify-content-between" style="background-color: {{ random }}">
                        {% if session.user["admin"] %}
                            <a href="/home/deletepost/{{ one_post.post_unique_id }}"><i
                                        class="fa fa-trash fa-2x delete-button" aria-hidden="true"></i> </a>
                        {% elseif session.userid == one_post.user_id %}
                            <a href="/home/deleteUserPost/{{ one_post.post_unique_id }}"><i
                                        class="fa fa-trash fa-2x delete-button" aria-hidden="true"></i> </a>
                        {% endif %}
                        <div class="ml-auto"> {{ one_post.creation_at|date ("d/m/Y") }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- end of card container -->
    </div>
{% endblock %}